
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
#Header edit Set-Cookie ^(PHPSESSID.*) $1;SameSite=None

ErrorDocument 503 /errors/503.html
ErrorDocument 403 /errors/403.html

RewriteEngine on
RewriteBase /api/v1/toil/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !^/api/v1/toil/index\.php
RewriteRule ^(.*)$ index.php/$1 
#[QSA,L]

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php
</IfModule>

<FilesMatch "app.ini">
  Require all denied
</FilesMatch>

<FilesMatch "app.json">
  Require all denied
</FilesMatch>

<FilesMatch "README.md">
  Require all denied
</FilesMatch>
