{
    "general": {
        "app_name": "Your App",
        "base_url": "timetrack.your-website.de",
        "support_email": "support@your-website.com",
        "debug": "false",
        "auto_update": "false",
        "app": "false",
        "timezone": "UTC"
    },
    "mysql": {
        "db_host": "localhost",
        "db_user": "root",
        "db_password": "",
        "db": "ab"
    },
    "smtp": {
        "smtp": false,
        "host": "smtp.host.com",
        "username": "user",
        "password": "pass",
        "port": "587",
        "usessl": "true"
    },
    "plugins": {
        "plugins": "true",
        "path": "/api/v1/class/plugins/plugins",
        "data": "data",
        "testing": "true"
    },
    "ldap": {
        "ldap": "false",
        "ldap_user": "myuser",
        "ldap_password": "BASE64-ENCODED-PASSWORD",
        "ldap_host": "dc.domain.tld",
        "ldap_ip": "IP",
        "ldap_domain": "domain.tld",
        "ldap_basedn": "DC=domain,DC=tld",
        "ldap_group": "MYGROUP",
        "saf": "true",
        "saf_user": "USER",
        "saf_password": "BASE64-ENCODED-PASSWORD",
        "saf_host": "HOST,",
        "saf_ip": "IP,",
        "saf_basedn": "BASEDN",
        "saf_group": "GROUP",
        "saf_domain": "DOMAIN",
        "create_user": "true"
    },
    "config": {
        "worktime_types": "/api/v1/inc/config/worktime_types.json",
        "vacation_types": "/api/v1/inc/config/vacation_types.json",
        "sickness_types": "/api/v1/inc/config/sickness_types.json"
    },
    "mobile": {
        "allow_app_use": false,
        "allow_api_token_generation_w_settings": true,
        "enable_rate_limit_client_requests": false,
        "rate_limit_client_requests_p_minute": 80,
        "enable_qr_code_pairing": false
    }
}