span {
  color: red;
}

* {
  text-align: center;

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  font-family:"Roboto", sans-serif;
  color: white;
  background-color: black;
}
.progress-bar {
  width: 100%;
  background-color: #ddd;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar-inner {
  height: 20px;
  background-color: #4caf50;
  border-radius: 2px;
  animation: progressAnimation 2s linear infinite;
}

@keyframes progressAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.box {
  width: auto;
  max-width: 800px;
  height: auto;
  border: 5px solid;
  padding: 2px;
  margin: auto;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.64);
  transition: all 0.5s;
}

/*.button {
    background: #258cd1;
    position: relative;
    color: white;
    top: 100px;
    font-size: 23px;
    border-radius: 10px;
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 15px 0px 0px rgba(102, 104, 111, 0.3), 0px 0px 20px 0px rgba(102, 104, 111, 0.3);
    transition: all 0.1s;
  }
  
  .button:hover {
      top: 108px;
      box-shadow: 0px 7px 0px 0px rgba(102, 104, 111, 0.7);
      background-color: rgb(66, 67, 71, 0.7);
  }*/

.button {
  background-color: #4caf50; /* Grüne Hintergrundfarbe */
  border: none;
  color: white; /* Weiße Schrift */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Abgerundete Ecken */
  transition: background-color 0.5s ease; /* Transition für'n sanften Farbwechsel */
}

.button:hover {
  animation: hoverAnimation 0.5s ease forwards;
}

@keyframes hoverAnimation {
  from {
    background-color: #4caf50;
  }
  to {
    background-color: #45a049;
  }
}

.button {
  background-color: rgb(66, 67, 71, 0.3);
}

.input {
  color: white;
  height: 40px;
  text-align: center;
  width: auto;
  border-color: rgba(133, 133, 133, 0.2);
  background-color: rgba(102, 104, 111);
  opacity: 0.5;
  border-radius: 10px;
  transition: all 0.5s;
  font-size: 20px;
}

.input:hover {
  opacity: 1;
  transition: 0s;
  font-size: 23px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: sticky;
  color: rgb(255, 255, 255);
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px;
  color: white;
  opacity: 0.6;
}

li a:hover {
  background-color: grey;
  color: white;
}

li.b {
  float: right;
}

li.active {
  background-color: grey;
}

/* CSS für den Blur-Effekt */
.blur {
  filter: blur(8px); /* Du kannst die Stärke des Blur-Effekts ändern */
  transition: filter 0.5s; /* Für einen sanften Übergang */
}

/* CSS für den "Freigeben"-Button */
.button-blur {
  background-color: #0074d9; /* Eine passende Farbe für den Button */
  color: #fff; /* Textfarbe für den Button */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* CSS für den "Freigeben"-Button bei Hover */
.button-blur:hover {
  background-color: #0056b3; /* Ändert sich, wenn du mit der Maus darüber fährst */
}

.bottom-link {
  text-align: left !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
}

hr {
  color: white;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75%;
  text-align: center;
}
